<!DOCTYPE html>
<html>
    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="row">
            <% @products.each do |product| %>
            <div class="col-xs-6 col-md-3">
                <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
                <% end %>
                <%= product.title %>
                ￥
                <%= product.price %>
            </div>
            <% end %>
        </div>
    </body>

</html>
