<!DOCTYPE html>
<html>

    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

            /*body {
                background: url("https://ww4.sinaimg.cn/large/006tNc79jw1fcoiwefp5oj300o00g0c7.jpg") repeat fixed;
            }*/

            .btn-primary {
                background-color: #E61C64;
                border-color: #E61C64;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }
            .btn-primary:hover {
                background-color: #d10b51;
                border-color: #d10b51;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }

            .warning {
                font-size: 30px;
                color: #E61C64;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }

            .product_description {
                font-size: 18px;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }

            .product_price {
                font-size: 23px;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
                text-align: left;
            }

            .product_quantity {
                font-size: 18px;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }

        </style>

    </head>

    <body>
        <div class="container">
            <div class="main">
                <div id="product_show" class="center">

                    <!-- 以下是左边图像区 -->
                    <div class="left" id="product_img">
                        <% if @product.image.present? %>
                        <%= image_tag(@product.image.medium.url) %>
                    <% else %>
                        <%= image_tag("http://placehold.it/600x600&text=No Pic") %>
                        <% end %>
                    </div>

                    <!-- 以下是右边产品信息区 -->
                    <div class="right" id="product_info">
                        <h1>
                            <%= @product.title %>
                        </h1>
                        <div class="product_description" style="height:200px;">
                            <p>
                                <%= @product.description %>
                            </p>
                        </div>

                        <div class="product_price">
                            Price： ￥
                            <%= @product.price %>
                        </div>

                        <div class="product_quantity">
                            Quantity：
                            <%= @product.quantity %>
                        </div>

                        <div class="pull-left">
                            <% if @product.quantity.present? && @product.quantity >0 %>
                            <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
                        <% else %>
                            <p class="warning">
                                <i class="fa fa-exclamation-triangle fa-fw"></i>Sorry, SALE UP<p>
                                    <% end %>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- 以下是推荐区 -->
                <div class="center detail_recommend"></div>

            </body>
        </html>
    </body>
</html>
